.hero-section {
    position: relative !important;
    height: 70% !important; /* Adjust the height as needed */
    overflow: hidden !important;
  
  }
  
  .hero-video {
    width: 100%;
    height: 70vh  !important;
    object-fit: cover; /* Ensures the video covers the entire area */
  }
  
  .hero-content {
    position: relative;
    z-index: 1; /* Ensure content appears above the video */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure content fills the hero section */
    padding: 0 20px; /* Adjust padding as needed */
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    .hero{
      width:100%;
      height:50vh;
      display: flex;
      justify-content: center;
     align-items: center;
     margin-top: 10%;
    }
    .hero-section {
      position: relative !important;
      height: 70% !important; /* Adjust the height as needed */
      overflow: hidden !important;
     
    
    }
    
    .hero-video {
      width:90%;
      height:50vh  !important;
      object-fit: cover; /* Ensures the video covers the entire area */
      border-radius: 10px;
      border:1px solid blue;
    }
  }
    